@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #f4f4f4;
  --header: #333;
  --text: #333;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: yellow;
}

form .form-line {
  /* display: flex; */
}

label {
height: 50px;
display: block;
margin: 5px;
}

input {
  border-left: solid;
  border-bottom: solid;
  border-color: gray;
  margin: 5px;
}

form .form-line label {
  width: 30%;
}

form .form-line input {
  width: 70%;
}

table, th, td {
  border: solid;
  padding: 5px;
}

.hidden {
  display: none;
}

.button {
  padding: 10px;
  border: solid;
  border-bottom-color: darkblue;
  border-right-color: darkblue;
  border-left-color: lightblue;
  border-top-color: lightblue;
  border-radius: 10px;
}

.code-block {
  background-color:#333;
  border-radius: 10px;
  color: lightgreen;
  padding: 15px;
  margin: 10px;
  font-family: monospace;
}

.collapse-button {
  scale: 3%;
}

.collapse-button.down {
transform: rotate(270deg);
}

.collapse-button.right {
  transform: rotate(180deg);
}

.collapse {
  display: none;
}

.collapseable-headline {
  display: flex;
}

