@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #f4f4f4;
  --header: #333;
  --text: #333;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {

}

form .form-line {
  /* display: flex; */
}

label {
display: block;
margin-top: 30px;
}

input {
  border-left: solid;
  border-bottom: solid;
  border-color: gray;
  margin: 5px;
  width: 95%;
  padding: 5px;
}

table, th, td {
  border: solid;
  padding: 5px;
}

.hidden {
  display: none;
}

.button, button {
  padding: 10px;
  border: solid;
  border-width: 5px;
  border-bottom-color: #2859a8;
  border-right-color: #2859a8;
  border-left-color: #4c91ff;
  border-top-color: #4c91ff;
  border-radius: 10px;
  background-color: #3B82F6;
  color: white;
}

.button:active, button:active {
  border-top-color: #2859a8;
  border-left-color: #2859a8;
  border-right-color: #4c91ff;
  border-bottom-color: #4c91ff;
}

.code-block {
  background-color:#333;
  border-radius: 10px;
  color: lightgreen;
  padding: 15px;
  margin: 10px;
  font-family: monospace;
}

.collapse-button {
  height: 25px;
  padding: 5px;
}

.collapse-button.down {
transform: rotate(270deg);
}

.collapse-button.right {
  transform: rotate(180deg);
}

.collapse {
  display: none;
}

.collapseable-headline {
  display: flex;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

ol {
  list-style: armenian;
}
