#app {
    color: #333;
    font-family: 'Arial', sans-serif;
    background-color: rgb(196, 219, 225);
}

.clickable {
    cursor: pointer;
  }
  
.clickable:hover {
    -webkit-mask-image: white;
    mask-image: white;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

#app input {
    border: solid;
    border-width:2px;
    border-color: gray;
    border-radius: 4px;
    height: 36px;
    margin: 5px;
    width: 400px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #home form {
    background-color: white;
  }

  #filter-appointments-form label {
    width: 185px;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  
  table, th, td {
    border: solid;
    padding: 5px;
    background-color: white;
  }
  
  .hidden {
    display: none;
  }
  
  #app .button, button {
    height: auto;
    width: auto;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid;
    border-width: 5px;
    border-bottom-color: #2859a8;
    border-right-color: #2859a8;
    border-left-color: #4c91ff;
    border-top-color: #4c91ff;
    border-radius: 10px;
    background-color: #3B82F6;
    color: white;
  }
  
  .button:active, button:active {
    border-top-color: #2859a8;
    border-left-color: #2859a8;
    border-right-color: #4c91ff;
    border-bottom-color: #4c91ff;
  }
  
  .code-block {
    background-color:#333;
    border-radius: 10px;
    color: lightgreen;
    padding: 15px;
    margin: 10px;
    font-family: monospace;
  }
  
  .collapse-button {
    height: 28px;
    padding: 5px;
    margin-right: 5px;
  }
  
  .collapse-button.down {
  transform: rotate(270deg) translateX(-3px);
  }
  
  .collapse-button.right {
    transform: rotate(180deg) translateY(-3px);
  }
  
  .collapse {
    display: none;
  }
  
  .collapseable-headline {
    display: flex;
  }
  
  #app h1 {
    font-size: 40px;
    font-weight: bold;
  }
  
  #app h2 {
    font-size: 32px;
    font-weight: bold;
  }
  
  #app h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #app h4 {
    font-size: 16px;
    font-weight: bold;
  }

  /* #app a {
    color: blue;
    text-decoration: underline;
  } */

  #app-content {
    min-height: 700px;
  }
  

  .dropbtn {
    color: white;
    padding: 0px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content > *:hover {
    background-color: lightgray;
}

.dropdown-content p:hover {
    background-color: lightgray;
}

  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;}

#app .clickable p:not(.dropdown-content p):hover, button:hover, .button:hover {
    color: lightgray;
}


  
  